.mud-switch-m3 {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-tap-highlight-color: transparent;
}

    .mud-switch-m3.mud-disabled {
        color: var(--mud-palette-text-disabled) !important;
        cursor: default;
    }

    .mud-switch-m3.mud-readonly, .mud-switch-m3 .mud-readonly:hover {
        cursor: default;
        background-color: transparent !important;
    }

.mud-switch-span-m3 {
    width: 52px;
    height: 32px;
    display: inline-flex;
    z-index: 0;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    vertical-align: middle;
}

    .mud-switch-span-m3.mud-switch-child-content-m3 {
        margin-inline-end: 12px;
    }

    .mud-switch-span-m3 .mud-switch-track-m3 {
        width: 52px;
        height: 32px;
        z-index: -1;
        transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 30px;
        background-color: var(--mud-palette-background);
        border: 2px solid;
    }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-default-m3 {
            border-color: var(--mud-palette-text-primary);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-primary-m3 {
            border-color: var(--mud-palette-primary);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-secondary-m3 {
            border-color: var(--mud-palette-secondary);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-tertiary-m3 {
            border-color: var(--mud-palette-tertiary);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-info-m3 {
            border-color: var(--mud-palette-info);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-success-m3 {
            border-color: var(--mud-palette-success);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-warning-m3 {
            border-color: var(--mud-palette-warning);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-error-m3 {
            border-color: var(--mud-palette-error);
        }

        .mud-switch-span-m3 .mud-switch-track-m3.mud-switch-track-dark-m3 {
            border-color: var(--mud-palette-dark);
        }

.mud-switch-base-m3 {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-inline-start: 8px;
    top: 0;
    left: 0;
    bottom: 0;
    color: #fafafa;
    z-index: 1;
    position: absolute;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

    .mud-switch-base-m3.mud-switch-base-dense-m3 {
        padding-inline-start: 4px;
    }

    .mud-switch-base-m3.mud-checked {
        transform: translateX(20px);
        padding: 4px;
    }

        .mud-switch-base-m3.mud-checked + .mud-switch-track-m3 {
            opacity: 1;
        }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-default {
                background-color: var(--mud-palette-text-primary);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-primary {
                background-color: var(--mud-palette-primary);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-secondary {
                background-color: var(--mud-palette-secondary);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-tertiary {
                background-color: var(--mud-palette-tertiary);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-info {
                background-color: var(--mud-palette-info);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-success {
                background-color: var(--mud-palette-success);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-warning {
                background-color: var(--mud-palette-warning);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-error {
                background-color: var(--mud-palette-error);
            }

            .mud-switch-base-m3.mud-checked + .mud-switch-track-m3.mud-dark {
                background-color: var(--mud-palette-dark);
            }

        .mud-switch-base-m3.mud-checked .mud-switch-thumb-m3 {
            width: 24px;
            height: 24px;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            border-radius: 50%;
            background-color: var(--mud-palette-background);
        }

    .mud-switch-base-m3:hover {
        background-color: var(--mud-palette-action-default-hover);
    }

    .mud-switch-base-m3.mud-switch-disabled {
        color: var(--mud-palette-gray-default) !important;
    }

        .mud-switch-base-m3.mud-switch-disabled + .mud-switch-track-m3 {
            opacity: 0.12 !important;
        }

        .mud-switch-base-m3.mud-switch-disabled:hover, .mud-switch-base-m3.mud-switch-disabled:focus-visible {
            cursor: default;
            background-color: transparent !important;
        }

.mud-switch-button-m3 {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

    .mud-switch-button-m3 .mud-switch-input-m3 {
        top: 0;
        left: 0;
        width: 100%;
        cursor: inherit;
        height: 100%;
        margin: 0;
        opacity: 0;
        padding: 0;
        z-index: 1;
        position: absolute;
    }

    .mud-switch-button-m3 .mud-switch-thumb-m3 {
        width: 16px;
        height: 16px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
    }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-default-m3 {
            background-color: var(--mud-palette-text-primary);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-primary-m3 {
            background-color: var(--mud-palette-primary);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-secondary-m3 {
            background-color: var(--mud-palette-secondary);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-tertiary-m3 {
            background-color: var(--mud-palette-tertiary);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-info-m3 {
            background-color: var(--mud-palette-info);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-success-m3 {
            background-color: var(--mud-palette-success);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-warning-m3 {
            background-color: var(--mud-palette-warning);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-error-m3 {
            background-color: var(--mud-palette-error);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-dark-m3 {
            background-color: var(--mud-palette-dark);
        }

        .mud-switch-button-m3 .mud-switch-thumb-m3.mud-switch-thumb-off-icon-m3 {
            width: 24px;
            height: 24px;
        }
