name: PR Tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Add GitHub NuGet Source
      id: add-nuget-source
      run: |
        dotnet nuget add source https://nuget.pkg.github.com/Mythetech/index.json -n github -u user -p ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text

    - name: Execute unit tests
      run: dotnet test Siren.Test/Siren.Test.csproj
      env:
        Configuration: Release 
